DynamicLayoutAndTransitions/SampleData/ColorModelData/ColorModelData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ColorModelData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ColorModelData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ColorModelData" type="tns:ColorModelData" />
  <xs:complexType name="ColorModelData">
    <xs:sequence>
      <xs:element name="ColorModels" type="tns:ColorModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ColorModels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ColorModelsItem" type="tns:ColorModelsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ColorModelsItem">
    <xs:attribute blend:Format="Colors" name="Brush" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="Text" type="xs:string" />
  </xs:complexType>
</xs:schema>